

//メインビュー

main{
  padding-top: 107px;

@media screen and(max-width:1024px) {
  padding-top: 85px;
}
}

.top{
    position: relative;
    background-image: url(../img/features-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 674px;
    margin: 0px -100px;
    opacity: 10;
    color: #fff;
    
  
  
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /*半透明のフィルターをかける*/
  
  }
  &-title{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    @media screen and(max-width:1024px) {
    position: absolute;
    top: 30%;
    right: 10%;
    left: 10%;
    transform: none;
      
    }
  }

  &-form{
    margin-top: 60px;
  }
  &-item{
    @include form

}
}