.works{
    padding: 120px 60px;
    @media screen and(max-width:1024px) {
    padding: 120px 0px;
    }
    @media screen and(max-width:500px) {
      margin: 0px -100px;
      }


    &-title{
      @include title;
      h2{
        @include title-h2;
        margin: auto;
      }
    }

    &-site{
        justify-content: space-evenly;
        @media screen and(max-width:1024px) {
      
      
        }
    }


    &-contents{
      display: flex;
      justify-content: center;
      @media screen and(max-width:1024px) {
      
      
      }
      &:nth-child(n +2){
      margin-top: 65px;
      @media screen and(max-width:1024px) {
      
      
      }
      }
    }
    &-contents1{
      display: flex;
      box-shadow: 0px 0px 5px grey;
      width: 70%;
      justify-content: space-between;
      @media screen and(max-width:1024px) {
      display: block;
      width: 100%;
      
      }
    }

    &-list{

      h3,p{
        padding: 0px 25px;
        @media screen and(max-width:1024px) {
      
      
        }

      }
      &-img > a > img {
        width: 100%;
        @media screen and(max-width:1024px) {
      
      
        }

    }
    }
  }
